:root {
  --main-text-color: #212121;
  --additional-text: #757575;
  --background-light: #f5f4fa;
  --background-dark: #2f303a;
  --accent-color: #2196f3;
  --contact-text: rgba(255, 255, 255, 0.6);
  --white: #ffffff;
  --black: #000000;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
  background-color: var(--white);
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  

  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  height: 581px;
  background-color: #FFFFFF;
  border-radius: 4px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
/* -----------HEADER------------- */
.header {
  border-bottom: 1px solid #eeeeee;
}

.main-nav,
.header-nav,
.site-nav,
.contact-header {
  display: flex;
  align-items: center;
}

.contact-header .link,
.address-list .link {
  color: var(--additional-text);
}

/* .mail {
  color: var(--additional-text); */
/* } */
.site-nav .link {
  color: var(--main-text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  position: relative;
}

.site-nav .link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--accent-color);
  display: none;
}

.site-nav .link-current::after {
  display: block;
}

.logo-web {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo-studio {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black);
  padding-top: 24px;
  padding-bottom: 24px;
}

.site-nav .link:hover,
.site-nav .link:focus,
.contact-header .link:hover,
.contact-header .link:focus {
  color: var(--accent-color);

}

.site-nav .link-current {
  color: var(--accent-color);
}

.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-left: 90px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}
/* .site-nav .item:not(:last-child){
    margin-right: 50px; */
/* } */

.contact-header .item + .item {
  margin-left: 50px;
}

.contact-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--additional-text);
  margin-left: auto;
  
}

.contact-header .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* -------HERO------- */

.hero {
  width: 1600px;
  margin: 0 auto;
  background-image: url(../images/Overlay.png), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-bottom: 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}

.hero-btn
 {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--white);
  background: var(--accent-color);

  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.modal-submit {

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  display: flex;
 
  color: var(--white);
  background: var(--accent-color);

  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
 
}

.btn-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-close:focus,
.btn-close:hover {
  fill: var(--accent-color);
}

.modal-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.form-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--additional-text);
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;
}

.form-input:focus,
.form-comment:focus {
  border-color: var(--accent-color);
}

.form-input:focus + .input-icon
 {
  fill: var(--accent-color);
}

.form-comment {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 12px;
  outline: transparent;
}

.form-input::placeholder,
.form-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);

}

.policy {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
}

.policy-check {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.check-icon {
  fill: transparent;
}

.form-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.policy-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #2196F3;
  margin-left: 5px;
}

.form-checkbox:checked + .policy .policy-check {
  background-color: var(--accent-color);
  border: none;
}

.form-checkbox:checked + .policy .check-icon {
  fill: var(--white);
}

/* .check-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
} */


/* .policy::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;

}

.form-checkbox:checked + .policy::before {
  background-color: var(--accent-color);
  border: none;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;

} */

.checkbox {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
}



/* ------Features------- */

.feature {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature-content {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--additional-text);
}

.feature-list {
  display: flex;
  justify-content: center;
}

.feature-list .item + .item {
  margin-left: 30px;
}

.feature-list .item {
  flex-basis: calc((100% - 3 * 30px) / 4);
}

.feature-fill {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--background-light);
  margin-bottom: 30px;
}
 
/* ----What we do------ */
.we-do {
  padding-bottom: 94px;
} 

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.job-list {
  display: flex;
}

.job-list .item + .item {
  margin-left: 30px;
}

.job-text {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: center;
}

.job-list .item {
  position: relative;
} 

/* ---Team------ */

.team {
  background-color: var(--background-light);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--additional-text);
  margin-bottom: 16px;
}

.team-list {
  display: flex;
}

.team-list .item + .item {
  margin-left: 30px;
}

.team-list .item {
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
              0px 1px 1px rgba(0, 0, 0, 0.14),
              0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
 
}

.team-soc-link:hover,
.team-soc-link:focus {
  fill: var(--white);
  background-color: var(--accent-color);
}

.team-soc-link {
  display: flex;
  fill: #afb1b8;
  width: 44px;
  height: 44px;
  background-color: var(--white);
  border-radius: 22px;
  align-items: center;
  justify-content: center;

  transition-property:background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


/* -----Clients---- */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
}

.clients-list .item + .item {
  margin-left: 30px;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients-icon-link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;

  transition-property:color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon-link:hover,
.clients-icon-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-icon {
  fill:currentColor;
}
/* --------Portfolio--------- */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-filter .item {
  margin-right: 8px;
}

.portfolio-filter .item:last-child {
  margin-right: 0;
}

.portfolio-filter .current-btn {
  color: var(--white);
  background-color: var(--accent-color);
}
.port-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--background-light);
  border: none;
  border-radius: 4px;
  padding: 6px 22px;

  transition-property:background-color,color,box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);  
}

.port-btn:hover,
.port-btn:focus {
  color: var(--white);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
              0px 1px 2px rgba(0, 0, 0, 0.08),
              0px 2px 2px rgba(0, 0, 0, 0.12);

}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-link {
  display: block;
}

.portfolio-list .item {
  margin-right: 30px;
  margin-bottom: 30px;
  
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-text {
  width: 100%;
  height: 100%;
  bottom: 0;
  position: absolute;
  background-color:rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 63px 24px;
 
  color: var(--white);
}

.portfolio-link:hover .portfolio-text,
.portfolio-link:focus .portfolio-text
 {
  opacity: 1;
  transform: translateY(0)
}

.portfolio-list .item {
  display: block;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);  
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-list .item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.portfolio-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--additional-text);
}

.portfolio-card {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
  border-top: none;
  
}

/* -----------FOOTER-------- */
.footer {
  padding: 60px 0;
  background-color: var(--background-dark);
}

.logo-studio-footer {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white);
}

.logo-web-footer {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.footer-wrap {
  display: flex;
  align-items: baseline;
}
.footer-soc {
  margin-left: 70px;
}
/* -----Address----- */

.address-list .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contact-text);

  transition-property:color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}
.address-list {
  margin-top: 20px;
}

.address-location:nth-child(3n) {
  margin-bottom: 0;
}

.address-list .link:hover,
.address-list .link:focus {
  color: var(--accent-color);
}

.address-location {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white);

  margin-bottom: 9px;
}

.address {
  font-style: normal;
}

.footer-soc-list {
  display: flex;
  gap: 10px;
}

.footer-soc-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition-property:background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}

.footer-soc-icon {
  fill: var(--white);
}
.footer-add {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
}
.form-submit {
  display: flex;
  align-items: baseline;
}
.form-input-footer {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  background-color: transparent;
  outline: transparent;
}

.form-input-footer::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  

  color: var(--white);
  background: var(--accent-color);

  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  margin-left: 12px;
  margin-right: auto;
  
}

.icon-send {
  fill: var(--white);
  top: 50%;
  right: 0;
  margin-left: 10px;
}

.footer-submit {
  margin-left: 93px;
}



/* цвет основного текста #212121 */
/* дополнительного текста #757575 */
/* бэкграунд светлосерый #F5F4FA  */
/* бэкграунд темный #2F303A */
/* акцент #2196F3 */
/* текст в контактах футера rgba(255, 255, 255, 0.6) */
